$color-primary: #333;
$color-secondary: rgb(21, 92, 207);
$color-accent: #ccc;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-background: #fff;

$xsm-width: 375px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xlg-width: 1200px;

$border-radius: 0.375rem;

:root {
  font-size: 16px;
}

html {
  padding: 0.5em;
}

.hidden {
  visibility: hidden;
}

.show{
  visibility: visible;
  opacity: 1;
}

.removed {
  display: none !important;
  height: 0 !important;
  overflow: hidden;
  opacity: 0 !important;
  visibility: hidden !important;
}

.transition{
  transition: all 3s !important;
}

.collapsed {
  visibility: collapse;
  _display: none;
}

.x-srcoll{
  overflow-x: auto;
}

.optionsArea {
  border-top: 1px solid $color-accent;
  padding: 0.5em 0;

  > div:nth-child(1) {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;

    >div{
      >span{
        vertical-align: middle;
        font-weight: bolder;
        color: #6c757d;
      }
      >button{


      }
    }
    
  }

  button{
    min-width: 2rem;
    font-weight: bolder;

  }
}

.options {
  min-width: 350px;
  background-color: $color-background;
  border-radius: $border-radius;
  display: flex;
  flex-flow: row wrap;

  opacity: 1;
  visibility: visible;
  height: auto;
  transition: all .5s;

  fieldset {
    flex-grow: 1;
    padding: .5em;
    margin: .5em 0;
    border-radius: $border-radius;
    box-shadow: 0em 0.3em 1em $color-shadow;
    
    > legend {
      border-bottom: 1px solid $color-accent;
    }

    > div {
      margin: 0.5em;
      display: flex;
      flex-flow: column wrap;

      > div {
        min-width: 220px;
      }
    }

    label {
      margin-left: 0.5em;
    }
  }

  > :nth-child(1) {
    flex-basis: 1050px;
  }
}

@media (min-width: 420px) {
  .optionsArea > div:nth-child(1) {
    max-height: 5rem;
    button {
      _align-self: flex-end;
    }
  }
}

@media (min-width: $sm-width) {
  fieldset:first-child > div {
    max-height:14rem;
  }
}

@media (min-width: $md-width) {
  fieldset:first-child > div {
    max-height: 10rem;
  }
}

@media (min-width: $lg-width) {
  fieldset:first-child > div {
    max-height: 7rem;
  }
  .x-srcoll{
    overflow-x:unset ;
  }
}

@media (min-width: 1335px) {
  .options{
    justify-content: space-between;
    fieldset{
      flex-grow: .45;
    }
  }
}

table {
  width: 100%;
  font-size: 1em;

  thead {
    position: sticky;
    top: 0px;
    background-color: $color-accent;
    tr {
      th {
        text-align: center;
        vertical-align: middle;
        max-width: 8em;
        overflow: hidden;
        _white-space: nowrap;
        border-right: 1px solid #eee;
        cursor: pointer;
        
        > * {
          cursor: pointer;
        }

        span {
          margin: 0 0.25em;
          font-size: .75em;
          &:hover {
            text-decoration: underline;
            color: $color-secondary;
          }
        }

        i.bi {
          font-size: 1rem;
          border: 2px solid $color-accent;
          border-radius: 6px;
          padding: 0.125em;
          &:hover {
            color: $color-secondary;
            border-color: $color-secondary;
          }
        }
      }
    }
  }
}

@keyframes moveUp {
  from {line-height: 1.5em;}
  to {line-height: 1em;}
}

.upToTop{
  position:fixed;
  bottom: 4rem;
  right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  font-weight:bolder;  
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
  background-color: rgba(200, 200, 200, 0.3);
  color:rgba(0, 0, 0, 0.3);
  transition: visibility 3s, opacity 3s, box-shadow .75s, color .75s;
  visibility: hidden;
  opacity: 0;

  &:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.6) !important;
    color:rgba(0, 0, 0, 0.6);
    animation-name: moveUp;
    animation-duration: 1.5s;
    animation-iteration-count: 5;
    animation-timing-function: ease;
  }
}
